.stepper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 5px;
  z-index: 2;
}

.label {
  font-size: 13px;
  margin-left: 35px;
  margin-bottom: 10px;
}

/* ACTIVE */
.active {
  background: #1976d2;
  color: white;
}

/* COMPLETED */
.completed {
  background: green;
  color: white;
}

/* DISABLED */
.disabled {
  background: #e0e0e0;
  color: #888;
}

/* TEXT COLORS */
.text-active {
  color: #1976d2;
  font-weight: 600;
}

.text-completed {
  color: green;
}

.text-disabled {
  color: #aaa;
}

/* LINE */
.line {
  width: 2px;
  height: 25px;
  margin-left: 13px;
}

.line-completed {
  background: green;
}

.line-disabled {
  background: #e0e0e0;
}